* {
  box-sizing: border-box;
}

.item-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .item-list {
    width: 1170px;
}
}

.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.loading {
  position: absolute;
  top: 35%;
  left: 30%;
  z-index: 1000;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@media (min-width: 640px) {
  .loading {
    left: 45%;
}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.column {
  float: left;
  width: 25%;
  padding: 10px;
}

.row {margin: 0 -5px;}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 7px 6px 12px -1px rgba(72, 72, 72, 0.77);
  -webkit-box-shadow: 7px 6px 12px -1px rgba(72, 72, 72, 0.77);
  -moz-box-shadow: 7px 6px 12px -1px rgba(72, 72, 72, 0.77);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

.left-side-product-box img {
  width: 100%;
}

.right-side-pro-detail span {
  font-size: 15px;
}

.right-side-pro-detail p {
  font-size: 25px;
  color: #a1a1a1;
}

.right-side-pro-detail .price-pro {
  color: #E45641;
}

.right-side-pro-detail .tag-section {
  font-size: 18px;
  color: #5D4C46;
}

.row {
  align-items: center;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}